<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>德州扑克</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-row {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .el-button {
            display: block;
            width: 100%;
            padding-left: 4px;
            padding-right: 4px;
        }

        .each_player_show {
            font-size: small;
            padding: 1px;
            text-align: center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            color: darkgreen;
            height: 80px;
        }

        .blink_card {
            -webkit-animation: twinkling 1s infinite ease-in-out
        }

        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both
        }

        @-webkit-keyframes twinkling {
            0% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes twinkling {
            0% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        .self_show {
            font-size: small;
            padding: 1px;
            text-align: center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            color: darkgreen;
            line-height: 100%;
        }

        .number_show {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            font-weight: bolder;
            color: beige;
            background-color: green;
        }

        .number_show_bat {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            font-weight: bolder;
            color: beige;
            background-color: red;
        }

        .count_down {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            font-weight: bolder;
            color: crimson;
            background-color: darksalmon;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-button type="primary" @click="random_login" v-if="status_var.has_not_login">游客登录</el-button>
        <el-container v-if="!status_var.has_not_login">
            <el-header>
                <el-row :gutter="2" v-if="from_server.table_info.i_table_no == -1">
                    <el-col :span="4">
                        <el-button type="primary" @click="create_room">开新桌</el-button>
                    </el-col>
                    <el-col :span="16">
                        <el-input v-model="bind_var.input_table_no" placeholder="请输入房间号" size="large"></el-input>
                    </el-col>
                    <el-col :span="4">
                        <el-button type="primary" @click="follow_room">跟随</el-button>
                    </el-col>
                </el-row>
                <el-row v-if="from_server.table_info.i_table_no != -1">
                    <el-col :span="20">
                        <h1>{{from_server.table_info.i_table_no}}号桌</h1>
                    </el-col>
                    <el-col :span="4">
                        <el-button type="primary" @click="disconnect_from_server">离开</el-button>
                    </el-col>
                </el-row>
            </el-header>
            <el-main v-if="from_server.table_info.i_table_no != -1" style="height: inherit;">
                <el-row :gutter="12" style="height: 30%;">
                    <el-col :span="8">
                        <other-player-view seat_pos=4 :from_server="from_server" :get_player_by_seat="get_player_by_seat"
                        :get_seat_back_style="get_seat_back_style" :is_action_pos="is_action_pos" :timers_on_seat="timers_on_seat"></other-player-view>
                    </el-col>
                    <el-col :span="8">
                        <other-player-view seat_pos=3 :from_server="from_server" :get_player_by_seat="get_player_by_seat"
                        :get_seat_back_style="get_seat_back_style" :is_action_pos="is_action_pos" :timers_on_seat="timers_on_seat"></other-player-view>
                    </el-col>
                    <el-col :span="8">
                        <other-player-view seat_pos=2 :from_server="from_server" :get_player_by_seat="get_player_by_seat"
                        :get_seat_back_style="get_seat_back_style" :is_action_pos="is_action_pos" :timers_on_seat="timers_on_seat"></other-player-view>
                    </el-col>
                </el-row>
                <el-row :gutter="5" style="height: 50%;">
                    <el-col :span="6">
                        <other-player-view seat_pos=5 :from_server="from_server" :get_player_by_seat="get_player_by_seat"
                        :get_seat_back_style="get_seat_back_style" :is_action_pos="is_action_pos" :timers_on_seat="timers_on_seat"></other-player-view>
                    </el-col>
                    <el-col :span="12">
                        <span v-for="single_card in from_server.table_info.a_cards_on_table">
                            <el-image :src="get_card_pic_url(single_card.color, single_card.num)" style="display: inline-block; width: 20%;"></el-image>
                        </span>
                    </el-col>
                    <el-col :span="6">
                        <other-player-view seat_pos=1 :from_server="from_server" :get_player_by_seat="get_player_by_seat"
                        :get_seat_back_style="get_seat_back_style" :is_action_pos="is_action_pos" :timers_on_seat="timers_on_seat"></other-player-view>
                    </el-col>
                </el-row>
                <div>
                    主池金额：{{from_server.table_info.i_cur_bat_cash}}
                </div>
            </el-main>
            <el-footer v-if="from_server.table_info.i_table_no != -1">
                <el-row :gutter="10">
                    <el-col :span="12">
                        <el-col :span="12">
                            <el-image
                                :src="get_card_pic_url(from_server.self_info.a_hand_cards[0].color, from_server.self_info.a_hand_cards[0].num)">
                            </el-image>
                        </el-col>
                        <el-col :span="12">
                            <el-image
                                :src="get_card_pic_url(from_server.self_info.a_hand_cards[1].color, from_server.self_info.a_hand_cards[1].num)">
                            </el-image>
                        </el-col>
                        <el-row v-if="!from_server.table_info.b_game_start">
                            <el-button type="primary" @click="get_ready">{{ready_button()}}</el-button>
                        </el-row>
                    </el-col>
                    <el-col :span="12" class="self_show">
                        <div v-if="from_server.self_info.i_self_seat != -1"
                            :style="get_seat_back_style(from_server.self_info.i_self_seat + 1)">
                            <el-row>{{from_server.table_info.a_all_players[from_server.self_info.i_self_seat].name}}
                            </el-row>
                            <el-row>
                                <i
                                    class="el-icon-coin number_show">{{get_player_by_seat(from_server.self_info.i_self_seat).cur_cash}}</i>
                            </el-row>
                            <div>
                                <i
                                    class="el-icon-download number_show_bat">{{get_player_by_seat(from_server.self_info.i_self_seat).bat_cash}}</i>
                            </div>
                            <div class="count_down" v-if="timers_on_seat[from_server.self_info.i_self_seat].timer_id">
                                倒计时{{timers_on_seat[from_server.self_info.i_self_seat].left_sec}}
                            </div>
                        </div>
                    </el-col>
                </el-row>
                <el-row v-if="from_server.table_info.i_action_pos == from_server.self_info.i_self_seat">
                    <el-slider :min="get_min_bat_cash()" :max="get_max_bat_cash()" v-model="bind_var.cur_ready_to_bat">
                    </el-slider>
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-button type="primary" @click="bat_half_pool">半池</el-button>
                        </el-col>
                        <el-col :span="8">
                            <el-button type="primary" @click="bat_full_pool">全池</el-button>
                        </el-col>
                        <el-col :span="8">
                            <el-button type="primary" @click="bat_double_pool">两倍池</el-button>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-button type="primary" @click="bat_cash_out">
                            {{get_bat_btn_name()}}{{bind_var.cur_ready_to_bat}}
                        </el-button>
                    </el-row>
                    <el-row>
                        <el-button type="primary" @click="follow_action">{{get_follow_btn_name()}}</el-button>
                    </el-row>
                    <el-row>
                        <el-button type="primary" @click="give_up_action">弃牌</el-button>
                    </el-row>
                </el-row>
            </el-footer>
        </el-container>
        <el-dialog title="秀牌" :show-close='false' :visible.sync="need_cards_result()" width="100%" v-on:opened="refresh_player_cash">
            <el-row style="border-style: solid;" v-for="(single_result, index) in from_server.last_result.a_all_result" v-if="get_player_by_seat(index)">
                <el-col :span="4">
                    <p>{{index + 1}}号位 </p>
                    <p>{{get_player_by_seat(index).name}}</p>
                </el-col>
                <el-col :span="4">
                    <p v-if="single_result.b_show">{{get_pattern_name(single_result.en_patten_type)}}</p>
                    <p>{{get_cash_change(index)}}</p>
                </el-col>
                <el-col :span="16" v-if="single_result.b_show">
                    <el-col :span="4" v-for="single_card in single_result.a_final_pattern">
                        <el-image :src="get_card_pic_url(single_card.color, single_card.num)"></el-image>
                    </el-col>
                </el-col>
            </el-row>
        </el-dialog>
        <el-dialog title="输光了" :show-close="false" :visible.sync="failure_flag" width="100%">
            <el-button @click="disconnect_from_server">重来</el-button>
        </el-dialog>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.component('other-player-view', {
        props: ['seat_pos', 'from_server', 'get_player_by_seat', 'get_seat_back_style', 'is_action_pos', 'timers_on_seat'],
        template: `
            <div>
            <el-card class="each_player_show" :body-style="{ padding: '0px'}"
            v-if="get_player_by_seat((from_server.self_info.i_self_seat + Number(seat_pos)) % 6)"
            :style="get_seat_back_style((from_server.self_info.i_self_seat + Number(seat_pos)) % 6 + 1)"
            :class="{blink_card:is_action_pos((from_server.self_info.i_self_seat + Number(seat_pos)) % 6)}">
            <div>
                {{get_player_by_seat((from_server.self_info.i_self_seat + Number(seat_pos)) % 6).name}}
            </div>
            <div>
                <i
                    class="el-icon-coin number_show">{{get_player_by_seat((from_server.self_info.i_self_seat + Number(seat_pos)) % 6).cur_cash}}</i>
            </div>
            <div>
                <i
                    class="el-icon-download number_show_bat">{{get_player_by_seat((from_server.self_info.i_self_seat + Number(seat_pos)) % 6).bat_cash}}</i>
            </div>
            <div class="count_down"
                v-if="timers_on_seat[(from_server.self_info.i_self_seat + Number(seat_pos)) % 6].timer_id">
                倒计时{{timers_on_seat[(from_server.self_info.i_self_seat + Number(seat_pos)) % 6].left_sec}}
            </div>
            <div v-if="!from_server.table_info.b_game_start">
                <el-tag type="success"
                    v-if="get_player_by_seat((from_server.self_info.i_self_seat + Number(seat_pos)) % 6).is_ready">已准备
                </el-tag>
                <el-tag type="danger" v-else>未准备</el-tag>
            </div>
            </el-card>
            <el-card class="each_player_show" :body-style="{ padding: '0px' }" v-else>
                无玩家
            </el-card>
            </div>
        `
    });
    new Vue({
        el: '#app',
        data: {
            bind_var: {
                cur_ready_to_bat: 0,
                input_table_no: '',
            },
            failure_flag: false,
            status_var: {
                has_not_login: true,
                cash_before_show: [0, 0, 0, 0, 0, 0]
            },
            timers_on_seat: [
                {
                    left_sec: 20,
                    timer_id: null
                },
                {
                    left_sec: 20,
                    timer_id: null
                },
                {
                    left_sec: 20,
                    timer_id: null
                },
                {
                    left_sec: 20,
                    timer_id: null
                },
                {
                    left_sec: 20,
                    timer_id: null
                },
                {
                    left_sec: 20,
                    timer_id: null
                },
            ],
            get_pattern_name: function (_patten_en) {
                var ret = "";
                switch (_patten_en) {
                    case 0:
                        ret = "高牌";
                        break;
                    case 1:
                        ret = "对子";
                        break;
                    case 2:
                        ret = "两对";
                        break;
                    case 3:
                        ret = "三条";
                        break;
                    case 4:
                        ret = "顺子";
                        break;
                    case 5:
                        ret = "同花";
                        break;
                    case 6:
                        ret = "葫芦";
                        break;
                    case 7:
                        ret = "四条";
                        break;
                    case 8:
                        ret = "同花顺";
                        break;
                    case 9:
                        ret = "";
                        break;
                }

                return ret;
            },
            get_bat_btn_name: function () {
                if (this.from_server.table_info.i_min_bat_cash > 0) {
                    return "加注";
                }
                else {
                    return "下注";
                }
            },
            is_action_pos: function (_seat) {
                return this.from_server.table_info.i_action_pos == _seat;
            },
            get_follow_btn_name: function () {
                if (this.get_player_by_seat(this.from_server.self_info.i_self_seat).bat_cash < this.from_server.table_info.i_min_bat_cash) {
                    var call_cash = this.get_player_by_seat(this.from_server.self_info.i_self_seat).cur_cash + this.get_player_by_seat(this.from_server.self_info.i_self_seat).bat_cash;
                    call_cash = call_cash < this.from_server.table_info.i_min_bat_cash ? call_cash : this.from_server.table_info.i_min_bat_cash;
                    return "跟注" + call_cash;
                }
                else {
                    return "过牌";
                }
            },
            get_min_bat_cash: function () {
                return this.from_server.table_info.i_min_bat_cash * 2;
            },
            get_max_bat_cash: function () {
                var self_player = this.get_self_player_info();
                var my_self_cash = self_player.bat_cash + self_player.cur_cash;

                return my_self_cash;
            },
            get_seat_back_style: function (_seat) {
                var img_url = "http://59.110.64.232/resource/number_background/red_num_0" + _seat + ".png";
                var size = '15%'
                if (_seat == this.from_server.self_info.i_self_seat + 1) {
                    size = '30%';
                }
                return { background: "url(" + img_url + ")", 'background-size': 'auto ' + size, 'background-repeat': "no-repeat", 'background-color': "pink" };
            },
            get_self_player_info: function () {
                for (const index in this.from_server.table_info.a_all_players) {
                    var ret = this.from_server.table_info.a_all_players[index];
                    if (ret.seat_pos == this.from_server.self_info.i_self_seat) {
                        return ret;
                    }
                }
            },
            ready_button: function () {
                if (this.get_self_ready()) {
                    return "取消准备";
                }
                else {
                    return "准备";
                }
            },
            get_player_by_seat: function (_seat) {
                for (const key in this.from_server.table_info.a_all_players) {
                    if (this.from_server.table_info.a_all_players.hasOwnProperty(key)) {
                        const element = this.from_server.table_info.a_all_players[key];
                        if (element.seat_pos == _seat) {
                            return element;
                        }
                    }
                }
            },
            get_card_pic_url: function (color, number) {
                var color_map = ["heart", "spade", "diamond", "club"];
                if (number == 0 || color == 4) {
                    return "http://59.110.64.232/resource/cards_imgs/little_joker.jpg"
                }
                else {
                    return "http://59.110.64.232/resource/cards_imgs/" + color_map[color] + "_" + number + ".jpg";
                }
            },
            need_cards_result: function () {
                if (this.from_server.table_info.i_action_pos == -1 && this.from_server.table_info.b_game_start) {
                    return true;
                }
                else {
                    return false;
                }
            },
            get_cash_change: function (_seat) {
                if (this.get_player_by_seat(_seat).cur_cash > this.status_var.cash_before_show[_seat]) {
                    return "赢" + (this.get_player_by_seat(_seat).cur_cash - this.status_var.cash_before_show[_seat]);
                }
                else if (this.get_player_by_seat(_seat).cur_cash < this.status_var.cash_before_show[_seat]) {
                    return "输" + (this.status_var.cash_before_show[_seat] - this.get_player_by_seat(_seat).cur_cash);
                }
                else {
                    return "无变化";
                }
            },
            from_server: {
                table_info: {
                    i_table_no: -1,
                    i_cur_dealer_pos: -1,
                    i_cur_bat_cash: -1,
                    i_action_pos: -1,
                    i_min_bat_cash: 0,
                    a_cards_on_table: [
                        { num: -1, color: 4 },
                        { num: -1, color: 4 },
                        { num: -1, color: 4 },
                        { num: -1, color: 4 },
                        { num: -1, color: 4 }
                    ],
                    a_all_players: [
                        {
                            name: "",
                            cur_cash: 0,
                            bat_cash: 0,
                            seat_pos: -1,
                            is_ready: false,
                            is_falled: false,
                            is_allin: false
                        },
                        {
                            name: "",
                            cur_cash: 0,
                            bat_cash: 0,
                            seat_pos: -1,
                            is_ready: false,
                            is_falled: false,
                            is_allin: false
                        },
                        {
                            name: "",
                            cur_cash: 0,
                            bat_cash: 0,
                            seat_pos: -1,
                            is_ready: false,
                            is_falled: false,
                            is_allin: false
                        },
                        {
                            name: "",
                            cur_cash: 0,
                            bat_cash: 0,
                            seat_pos: -1,
                            is_ready: false,
                            is_falled: false,
                            is_allin: false
                        },
                        {
                            name: "",
                            cur_cash: 0,
                            bat_cash: 0,
                            seat_pos: -1,
                            is_ready: false,
                            is_falled: false,
                            is_allin: false
                        },
                        {
                            name: "",
                            cur_cash: 0,
                            bat_cash: 0,
                            seat_pos: -1,
                            is_ready: false,
                            is_falled: false,
                            is_allin: false
                        },
                    ],
                    b_game_start: false,
                },
                self_info: {
                    i_self_seat: -1,
                    a_hand_cards: [
                        { num: -1, color: 4 },
                        { num: -1, color: 4 },
                    ]
                },
                last_result: {
                    a_all_result: [
                        {
                            b_show: false,
                            en_patten_type: 9,
                            a_final_pattern: [
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                            ]
                        },
                        {
                            b_show: false,
                            en_patten_type: 9,
                            a_final_pattern: [
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                            ]
                        },
                        {
                            b_show: false,
                            en_patten_type: 9,
                            a_final_pattern: [
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                            ]
                        },
                        {
                            b_show: false,
                            en_patten_type: 9,
                            a_final_pattern: [
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                            ]
                        },
                        {
                            b_show: false,
                            en_patten_type: 9,
                            a_final_pattern: [
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                            ]
                        },
                        {
                            b_show: false,
                            en_patten_type: 9,
                            a_final_pattern: [
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                                { num: -1, color: 4 },
                            ]
                        },
                    ]
                }
            },
            get_players_on_table: function () {
                var ret = [];
                if (this.from_server.self_info.i_self_seat != -1) {
                    var index = this.from_server.self_info.i_self_seat + 1;
                    index %= 6;
                    while (index != this.from_server.self_info.i_self_seat) {
                        this.from_server.table_info.a_all_players.forEach(element => {
                            if (element.seat_pos == index) {
                                ret.push(element);
                            }
                        });
                        index += 1;
                        index %= 6;
                    }
                }
                return ret;
            },
        },
        methods: {
            refresh_player_cash: function () {
                var vue_this = this;
                this.status_var.cash_before_show.forEach((element, index) => {
                    if (vue_this.get_player_by_seat(index)) {
                        vue_this.status_var.cash_before_show[index] = vue_this.get_player_by_seat(index).cur_cash;
                    }
                });
            },
            random_login: function (event) {
                vue_this = this;
                axios.get('http://59.110.64.232/user_manage/login_random').then(function (resp) {
                    vue_this.ssid = resp.data.result.ssid;
                    vue_this.ws_socket = new WebSocket("ws://59.110.64.232/game", "binary");
                    vue_this.ws_socket.binaryType = "arraybuffer";
                    vue_this.ws_socket.onopen = function (evt) {
                        vue_this.status_var.has_not_login = false;
                        vue_this.heart_timer = setInterval(() => {
                            var msg = new ArrayBuffer(46);
                            var ssid_buff = new Uint8Array(msg);
                            for (let index = 0; index < vue_this.ssid.length; index++) {
                                ssid_buff[index] = vue_this.ssid.charCodeAt(index);
                            }
                            new DataView(msg, 32).setUint32(0, 5);
                            new DataView(msg, 36).setUint32(0, 6);

                            vue_this.ws_socket.send(msg);
                        }, 1000);
                    };
                    vue_this.ws_socket.onclose = function(evt) {
                        clearInterval(vue_this.heart_timer);
                        vue_this.failure_flag = true;
                    };
                    vue_this.ws_socket.onmessage = function (event) {
                        var total_length = event.data.byteLength;
                        var left_length = total_length;
                        while (left_length > 0) {
                            var from_server_data = event.data.slice(total_length - left_length, total_length);
                            var cur_length = new DataView(from_server_data, 36).getUint32(0);
                            left_length -= cur_length + 40;
                            var cur_type = new DataView(from_server_data, 32).getUint32(0);
                            switch (cur_type) {
                                case 2:
                                    var table_info_msg = new DataView(from_server_data, 32 + 8);
                                    vue_this.from_server.table_info.i_table_no = table_info_msg.getInt32(0);
                                    vue_this.from_server.table_info.i_cur_dealer_pos = table_info_msg.getInt32(4);
                                    vue_this.from_server.table_info.i_cur_bat_cash = table_info_msg.getInt32(8);
                                    vue_this.from_server.table_info.i_action_pos = table_info_msg.getInt32(12);
                                    vue_this.from_server.table_info.i_min_bat_cash = table_info_msg.getInt32(16);
                                    vue_this.from_server.table_info.a_cards_on_table.forEach((element, index) => {
                                        element.color = table_info_msg.getInt32(20 + index * 8);
                                        element.num = table_info_msg.getInt32(24 + index * 8);
                                    });
                                    vue_this.from_server.table_info.a_all_players.forEach((element, index) => {
                                        var name_string = new Uint8Array(table_info_msg.buffer, 60 + index * 56 + table_info_msg.byteOffset, 32);
                                        element.name = new TextDecoder().decode(name_string.slice(0, name_string.indexOf(0)));
                                        element.cur_cash = table_info_msg.getInt32(92 + index * 56);
                                        element.bat_cash = table_info_msg.getInt32(96 + index * 56);
                                        element.seat_pos = table_info_msg.getInt32(100 + index * 56);
                                        element.is_ready = table_info_msg.getInt32(104 + index * 56);
                                        element.is_falled = table_info_msg.getInt32(108 + index * 56);
                                        element.is_allin = table_info_msg.getInt32(112 + index * 56);
                                    });
                                    vue_this.from_server.table_info.b_game_start = table_info_msg.getInt32(396);
                                    break;
                                case 3:
                                    var self_info_msg = new DataView(from_server_data, 32 + 8);
                                    vue_this.from_server.self_info.i_self_seat = self_info_msg.getInt32(0);
                                    vue_this.from_server.self_info.a_hand_cards.forEach((element, index) => {
                                        element.color = self_info_msg.getInt32(4 + index * 8);
                                        element.num = self_info_msg.getInt32(8 + index * 8);
                                    });
                                    break;
                                case 8:
                                    var last_result_msg = new DataView(from_server_data, 32 + 8);
                                    vue_this.from_server.last_result.a_all_result.forEach((element, index) => {
                                        element.b_show = last_result_msg.getInt32(0 + index * 48);
                                        element.en_patten_type = last_result_msg.getInt32(4 + index * 48);
                                        element.a_final_pattern.forEach((sin_card, i) => {
                                            sin_card.color = last_result_msg.getInt32(8 + index * 48 + i * 8);
                                            sin_card.num = last_result_msg.getInt32(12 + index * 48 + i * 8);
                                        });
                                    });
                                    break;
                                default:
                                    break;
                            }
                        }
                        vue_this.fresh_timer();
                    };
                }).catch(function (err) {
                    console.log(err);
                });
            },
            fresh_timer: function () {
                if (this.from_server.table_info.i_action_pos >= 0) {
                    if (this.timers_on_seat[this.from_server.table_info.i_action_pos].timer_id == null) {
                        this.timers_on_seat[this.from_server.table_info.i_action_pos].left_sec = 20;
                        var vue_this = this;
                        this.timers_on_seat[this.from_server.table_info.i_action_pos].timer_id = setInterval(() => {
                            vue_this.timers_on_seat[vue_this.from_server.table_info.i_action_pos].left_sec--;
                            if (0 >= vue_this.timers_on_seat[vue_this.from_server.table_info.i_action_pos].left_sec) {
                                clearInterval(vue_this.timers_on_seat[vue_this.from_server.table_info.i_action_pos].timer_id);
                                vue_this.timers_on_seat[vue_this.from_server.table_info.i_action_pos].timer_id = null;
                            }
                        }, 1000);
                    }
                    var vue_this = this;
                    this.timers_on_seat.forEach((element, index) => {
                        if (index == vue_this.from_server.table_info.i_action_pos) {
                            return;
                        }
                        if (element.timer_id != null) {
                            clearInterval(element.timer_id);
                            element.timer_id = null;
                        }
                    });
                }
            },
            create_room: function (event) {
                var msg = new ArrayBuffer(40);
                var ssid_buff = new Uint8Array(msg);
                for (let index = 0; index < this.ssid.length; index++) {
                    ssid_buff[index] = this.ssid.charCodeAt(index);
                }
                new DataView(msg, 32).setUint32(0, 4);
                new DataView(msg, 36).setUint32(0, 0);

                this.ws_socket.send(msg);

            },
            follow_room: function (event) {
                var msg = new ArrayBuffer(44);
                var ssid_buff = new Uint8Array(msg);
                for (let index = 0; index < this.ssid.length; index++) {
                    ssid_buff[index] = this.ssid.charCodeAt(index);
                }
                new DataView(msg, 32).setUint32(0, 1);
                new DataView(msg, 36).setUint32(0, 4);
                new DataView(msg, 40).setInt32(0, Number(this.bind_var.input_table_no));
                this.ws_socket.send(msg);
            },
            get_self_ready: function () {
                for (const element in this.from_server.table_info.a_all_players) {
                    if (this.from_server.table_info.a_all_players[element].seat_pos == this.from_server.self_info.i_self_seat) {
                        if (this.from_server.table_info.a_all_players[element].is_ready) {
                            return true;
                        }
                    }
                }
                return false;
            },

            get_ready: function () {
                var msg = new ArrayBuffer(44);
                var ssid_buff = new Uint8Array(msg);
                for (let index = 0; index < this.ssid.length; index++) {
                    ssid_buff[index] = this.ssid.charCodeAt(index);
                }
                new DataView(msg, 32).setUint32(0, 6);
                new DataView(msg, 36).setUint32(0, 4);
                if (this.get_self_ready()) {
                    new DataView(msg, 40).setUint32(0, 0);
                }
                else {
                    new DataView(msg, 40).setUint32(0, 1);
                }
                this.refresh_player_cash();
                this.ws_socket.send(msg);
            },

            disconnect_from_server: function () {
                this.ws_socket.close();
                location.reload(true);
            },
            bat_half_pool: function () {
                var tmp_cash = this.from_server.table_info.i_cur_bat_cash / 2;
                this.bat_some_cash_ready(tmp_cash);
            },
            bat_full_pool: function () {
                var tmp_cash = this.from_server.table_info.i_cur_bat_cash;
                this.bat_some_cash_ready(tmp_cash);
            },
            bat_double_pool: function () {
                var tmp_cash = this.from_server.table_info.i_cur_bat_cash * 2;
                this.bat_some_cash_ready(tmp_cash);
            },
            bat_some_cash_ready: function (tmp_cash) {
                if (tmp_cash < this.get_min_bat_cash()) {
                    this.bind_var.cur_ready_to_bat = this.get_min_bat_cash();
                }
                else if (tmp_cash > this.get_max_bat_cash()) {
                    this.bind_var.cur_ready_to_bat = this.get_max_bat_cash();
                }
                else {
                    this.bind_var.cur_ready_to_bat = tmp_cash;
                }

            },
            bat_cash_out: function () {
                this.send_bat_req(2, this.bind_var.cur_ready_to_bat);
            },
            follow_action: function () {
                this.send_bat_req(0, this.from_server.table_info.i_min_bat_cash);
            },
            give_up_action: function () {
                this.send_bat_req(4, 0);

            },
            send_bat_req: function (_action, _bat_cash) {
                var msg = new ArrayBuffer(48);
                var ssid_buff = new Uint8Array(msg);
                for (let index = 0; index < this.ssid.length; index++) {
                    ssid_buff[index] = this.ssid.charCodeAt(index);
                }
                new DataView(msg, 32).setUint32(0, 7);
                new DataView(msg, 36).setUint32(0, 8);
                new DataView(msg, 40).setUint32(0, _action);
                new DataView(msg, 44).setUint32(0, _bat_cash);
                this.ws_socket.send(msg);
            }

        }
    });

</script>

</html>